@{
    ViewData["Title"] = "LOGIN";
}

@model CookerHelper.ViewModels.LoginVM;
<!-- Start Reservation section -->
<section id="mu-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-reservation-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">Welcome!</span>
                    </div>
                    <div class="mu-reservation-content">
                        <p>We are glad to see you!</p>
                        <div class="col-md-12">
                            <div class="mu-reservation-left">
                                <form asp-controller="Account" asp-action="Login" asp-anti-forgery="true" class="mu-reservation-form">
                                    <div class="mu-title">
                                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                                    </div>

                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                                            <a style="float:right; margin-top: -20px; padding: 0; color: darkseagreen; font-size: 12px;"
                                               asp-area="" asp-controller="Account" asp-action="ForgotPassword">
                                                Forgot Password!
                                            </a>
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <button type="submit" class="mu-readmore-btn">LOG IN</button>
                                            <a style="color: deepskyblue; margin-left: 20px;" asp-controller="Account" asp-action="Register">Sing up</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Reservation section -->
