<div class="item">
    <img src=@Model.Image alt="Kind Of Dish" class="img-responsive center-block" />
    <div class="carousel-caption" style="position: absolute; top: 0; height: 100%;" role="option">
        <p>
            <a class="btn btn-default" href="#">
                @Model.KindOfDishNameUA
            </a>
        </p>
    </div>
</div>