@{
    ViewData["Title"] = "ABOUT US";
}
<!-- Start About us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">

                    <div class="mu-title">
                        <span class="mu-subtitle">Discover</span>
                        <h2>@ViewData["Title"]</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mu-about-us-left">
                                <img src="~/img/about-us.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mu-about-us-right">
                                <p>Use this area to provide additional information.</p>
                                <ul>
                                    <li>Use this area to provide additional information.</li>
                                    <li>Use this area to provide additional information.</li>
                                    <li>Use this area to provide additional information.</li>
                                    <li>Use this area to provide additional information.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->
