@{
    ViewData["Title"] = "Cooker Helper";
}
<!-- Start slider  -->
<section id="mu-slider">
    <div class="mu-slider-area">

        <!-- Top slider -->
        <div class="mu-top-slider">

            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/img/food.jpg" alt="Cooker Helper">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Welcome</span>
                    <h2 class="mu-slider-title">To Cooker Helper</h2>
                    <p></p>
                    @*<a href="#mu-reservation" class="mu-readmore-btn mu-reservation-btn">BOOK A DISH</a>*@
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/img/ukrainian.jpg" alt="Cooker Helper">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Delicious</span>
                    <a href="#">
                    <h2 class="mu-slider-title">Ukrainian cuisine</h2>
                    </a>
                    <p></p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/img/italian.jpg" alt="Cooker Helper">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Elegant</span>
                    <h2 class="mu-slider-title">Italian cuisine</h2>
                    <p></p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/img/french.jpg" alt="Cooker Helper">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Charming</span>
                    <h2 class="mu-slider-title">French cuisine</h2>
                    <p></p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/img/georgian.jpg" alt="Cooker Helper">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Spicy</span>
                    <h2 class="mu-slider-title">Georgian cuisine</h2>
                    <p></p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->

        </div>
    </div>
</section>
<!-- End slider  -->